.dishListItem {
  display: flex;
  flex-direction: column;
  border-radius: 0%;
  padding: 10px;
}

.itemInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemInnerContent {
  display: flex;
  align-items: center;
}

.dishListItemImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
